*{
    margin: 0%;
    padding: 0%;
}


body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    display: flex;
  justify-content: flex-end;
  width: 100%;
  background: rgb(96,119,47);
 height: 30px;
  padding: 20px;
}
.nav-list{
    display: flex;
    
}
.nav-list li{
    width: 150px;
    font-size: 1.5rem;
    list-style-type: none;
}

.nav-list li a:link{
    color: rgb(250, 249, 246);
    text-decoration: none;
}
.nav-list li a:visited{
    color: rgb(233, 90, 7);
}
.nav-list li a:hover{
    color: rgb(10, 68, 27);
}

.welcome-section{
    background-color: rgb(244,247,246);
    text-align: center;
    padding: 10px;
}
.welcome-section > img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid white;
}
.welcome-section h1{
    font-size: 3rem;
    color: rgb(96,119,47);
}
.welcome-section p{
    font-size: 2rem;
   
}
.contact-section{
    background-color: rgb(241, 167, 38);
    text-align: center;
    padding: 10px;
    color: brown;

}
.contact-section-header h2{
    font-size: 3rem;
    margin: 20px;
}
.contact-section-header p{
    font-size: 2rem;
    margin: 20px;
}

    /* unvisited link */
    .contact-links a:link {
        color: brown;
        font-size: 1.5rem;
        padding: 40px;
      }
      
    /* visited link */
      .contact-links a:visited {
        color: green;
        
      }
      
    /* mouse over link */
      .contact-links a:hover {
        color: yellow;
        
      }
      footer{
          background-color: brown;
          text-align: center;
      }
      
   


